/*______________________________________

font size：
10px -> 77%  |  11px -> 85%  |  12px -> 93%  |  13px -> 100%
14px -> 108%  |  15px -> 116%  |  16px -> 123.1%  |  17px -> 131%
18px -> 138.5%  |  19px -> 146.5%  |  20px -> 153.9%  |  21px -> 161.6%
22px -> 167%  |  23px -> 174%  |  24px -> 182%  |  25px -> 189%
26px -> 197%
______________________________________*/


/*Reset CSS by Yahoo YUI Library */
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select {*font-size:100%;}
legend {color:#000;}


/*Reset CSS*/
body {
  color: #232425;
  font-family:メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', Osaka, sans-serif;
  font-size:13px;
  *font-size:small;
  *font:x-small;
  line-height: 1.6;
  background:#fff;
}



ul,ol {
  list-style:none;
}
table {
  font-size:inherit;
  font:100%;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

a{color:#01628f;text-decoration:none;}
a:hover{color:#01628f;text-decoration:underline;}
a:visited{color:#01628f;}
a:active{color:#01628f;}
